[default]
access_key = {{ aws_access_key }}
bucket_location = ap-northeast-1
host_base = s3-ap-northeast-1.amazonaws.com
host_bucket = %(bucket)s.s3-ap-northeast-1.amazonaws.com
secret_key = {{ aws_secret_key }}
use_https = True
